main .carousel {
  position: relative;
}

.carousel-border {
  border: 1px solid;
}

.carousel .carousel-slides,
.carousel .carousel-images-slides {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
}

.carousel .carousel-images-slides::-webkit-scrollbar,
.carousel .carousel-slides::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

/* --------------------
IMAGES CAROUSEL 
----------------------- */
.carousel.carousel-images {
  width: 100%;
  max-width: unset;
  margin: 0;
}

.carousel .carousel-images-slides {
  height: 50vh;
  min-height: var(--block-xs);
  width: 100%;
}

@media (min-width: 464px) {
  .carousel .carousel-images-slides {
    height: 60vh;
  }
}

.carousel .carousel-images-slides .carousel-slide {
  flex-shrink: 0;
  width: calc(100% + var(--pad-m));
}

@media (min-width: 768px) {
  .carousel .carousel-images-slides .carousel-slide {
    width: calc(50% + (var(--pad-m) / 2));
  }
}

@media (min-width: 1200px) {
  .carousel .carousel-images-slides .carousel-slide {
    width: calc((100% / 3) + (var(--pad-m) / 1.5));
  }
}

.carousel .carousel-images-slides .carousel-slide:not(:last-child) {
  padding-right: var(--pad-m);
}

.carousel .carousel-images-slides .carousel-slide img {
  height: 100%;
  object-fit: cover;
}

/* --------------------
DEFAULT CAROUSEL 
----------------------- */
.carousel .carousel-head {
  border-bottom: 1px solid;
  padding: var(--pad-s);
}

.carousel .carousel-slides .carousel-slide {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  padding: var(--pad-xl) var(--btn-s);
  text-align: center;
}

@media (min-width: 768px) {
  .carousel .carousel-slides-2 .carousel-slide,
  .carousel .carousel-slides-3 .carousel-slide,
  .carousel .carousel-slides-multi .carousel-slide {
    width: calc(100% / 2);
  }

  .carousel .carousel-slides-2 .cnav {
    visibility: hidden;
    display: none;
  }
}

@media (min-width: 1200px) {
  .carousel .carousel-slides-3 .carousel-slide,
  .carousel .carousel-slides-multi .carousel-slide {
    width: calc(100% / 3);
  }

  .carousel .carousel-slides-3 .cnav {
    visibility: hidden;
    display: none;
  }
}

.carousel .carousel-slides .carousel-slide .btn.btn-rect {
  background: var(--color-blue);
  color: var(--color-white);
}

.carousel .carousel-slides .carousel-slide img:hover,
.carousel .carousel-slides .carousel-slide img:focus {
  transform: scale(1.1) rotate(3deg);
}

.carousel .carousel-slides .carousel-slide:nth-child(even) img:hover,
.carousel .carousel-slides .carousel-slide:nth-child(even) img:focus {
  transform: scale(1.1) rotate(-3deg);
}

.carousel .carousel-slides .carousel-slide > *:last-child {
  margin-top: auto;
}

.carousel .carousel-slides .carousel-slide > *:last-child .btn {
  margin-bottom: var(--pad-xs);
}

/* --------------------
SPECIAL CAROUSEL STYLES
----------------------- */
main .carousel.meet-the-team-carousel .carousel-slides img,
main .carousel.ice-cream-cake-carousel .carousel-slides img {
  border-radius: 50%;
  height: 16rem;
  width: 16rem;
  object-fit: cover;
}

/* --------------------
COLLAPSE CAROUSEL STYLES
----------------------- */
.section-wrapper.carousel-collapse-container{
  position: relative;
}

.collapse-wrapper {
  position: relative;
  text-align: center;
  height: var(--btn-xl);
  width: var(--btn-xl);
  margin: 0 auto;
  color: var(--color-blue);
  transition: transform 0.2s linear;
  cursor: pointer;
  z-index: 1;
}

.collapse-wrapper:hover,
.collapse-wrapper:focus {
  transform: scale(1.4) rotate(-6deg);
}

.collapse-wrapper svg.icon-starburst {
  height: var(--btn-xl);
  width: var(--btn-xl);
  fill: var(--color-pink);
  animation-name: svg-spin;
  animation-duration: 24s;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}

.collapse-wrapper .starburst-text:hover + *,
.collapse-wrapper .starburst-text:focus + *,
.collapse-wrapper .starburst:hover,
.collapse-wrapper .starburst:focus {
  animation-duration: 8s;
}

.collapse-wrapper .starburst-text {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  height: var(--btn-l);
  width: var(--btn-l);
  padding: var(--pad-xs);
  font-weight: var(--weight-bold);
  line-height: 1;
  z-index: 2;
  transform: translate(-50%, -50%) rotate(3deg);
}

@media (min-width: 768px) {
  .collapse-wrapper {
    position: absolute;
    margin-top: calc((var(--btn-l) / 1.1) * -1);
    left: 3.5rem;
  }
}

@media (min-width: 1200px) {
  .collapse-wrapper {
    left: 25rem;
  }
}

@media (min-width: 1824px) {
  .collapse-wrapper {
    left: 58rem;
  }
}

.collapse-wrapper[aria-expanded=true] {
  position: absolute;
  right: 5%;
  height: 60px;
  width: 60px;
  margin-top: var(--pad-l);
}

@media (min-width: 768px) {
  .collapse-wrapper[aria-expanded=true] {
    left: 33%;
    right: -33%;
  }
}

@media (min-width: 1200px) {
  .collapse-wrapper[aria-expanded=true] {
    left: 20%;
    right: -20%;
  }
}

@media (min-width: 1824px) {
  .collapse-wrapper[aria-expanded=true] {
    left: 12%;
    right: -12%;
  }
}

.collapse-wrapper[aria-expanded=true]::after,
.collapse-wrapper[aria-expanded=true]::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  top: 28px;
  left: -1px;
  height: 2px;
  width: 60px;
  border-radius: 5px;
  background: currentColor;
  transform: rotate(45deg);
}

.collapse-wrapper[aria-expanded=true]::after {
  transform: rotate(-45deg);
}

.collapse-wrapper[aria-expanded=true] svg,
.collapse-wrapper[aria-expanded=true] p {
  display: none;
  visibility: hidden;
}

.collapse-wrapper[aria-expanded=false] + div {
  visibility: hidden;
  display: none;
}

/* --------------------
CUSTOMIZE CAROUSEL STYLES
----------------------- */
.customize-body .carousel-border {
  border: 0;
  border-bottom: 1px solid;
  margin-bottom: 0;
}

.customize-body .carousel .carousel-head {
  background: var(--color-blue);
  color: var(--color-white);
}

.customize-body .carousel .carousel-head div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--pad-l);
}

.customize-body .carousel .carousel-head .carousel-head-counter {
  padding: 0;
}

.customize-body .carousel .carousel-head h2 {
  font-size: var(--heading-size-s);
  text-align: left;
}

.customize-body [data-limit-hit] .carousel-head-counter {
  position: relative;
  font-weight: var(--weight-bold);
}

.customize-body [data-limit-hit] .carousel-head-counter::before {
  position: absolute;
  top: 4px;
  left: -2rem;
  content: '';
  background-color: var(--color-white);
  width: 16px;
  height: 16px;
  margin-right: var(--pad-s);
  -webkit-mask: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8 16C12.4183 16 16 12.4183 16 8C16 3.58172 12.4183 0 8 0C3.58172 0 0 3.58172 0 8C0 12.4183 3.58172 16 8 16ZM11.7071 6.70711C12.0968 6.31744 12.0978 5.68597 11.7093 5.29509C11.3208 4.90422 10.6894 4.90128 10.2973 5.28852L11 6C10.2973 5.28852 10.2973 5.28853 10.2973 5.28856L10.2971 5.28866L10.2967 5.28908L10.2951 5.29071L10.2886 5.29714L10.2632 5.32224L10.166 5.41826L9.81199 5.76861C9.51475 6.06294 9.10795 6.46627 8.66977 6.90213C8.11075 7.4582 7.49643 8.07141 6.99329 8.57908L5.70711 7.29289C5.31658 6.90237 4.68342 6.90237 4.29289 7.29289C3.90237 7.68342 3.90237 8.31658 4.29289 8.70711L6.29289 10.7071C6.68342 11.0976 7.31658 11.0976 7.70711 10.7071L11.7071 6.70711Z' fill='black' fill-opacity='0.9'/%3E%3C/svg%3E");
  mask: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8 16C12.4183 16 16 12.4183 16 8C16 3.58172 12.4183 0 8 0C3.58172 0 0 3.58172 0 8C0 12.4183 3.58172 16 8 16ZM11.7071 6.70711C12.0968 6.31744 12.0978 5.68597 11.7093 5.29509C11.3208 4.90422 10.6894 4.90128 10.2973 5.28852L11 6C10.2973 5.28852 10.2973 5.28853 10.2973 5.28856L10.2971 5.28866L10.2967 5.28908L10.2951 5.29071L10.2886 5.29714L10.2632 5.32224L10.166 5.41826L9.81199 5.76861C9.51475 6.06294 9.10795 6.46627 8.66977 6.90213C8.11075 7.4582 7.49643 8.07141 6.99329 8.57908L5.70711 7.29289C5.31658 6.90237 4.68342 6.90237 4.29289 7.29289C3.90237 7.68342 3.90237 8.31658 4.29289 8.70711L6.29289 10.7071C6.68342 11.0976 7.31658 11.0976 7.70711 10.7071L11.7071 6.70711Z' fill='black' fill-opacity='0.9'/%3E%3C/svg%3E");
}
