.columns {
  margin-bottom: var(--pad-l) !important;
}

.columns a {
  text-decoration: none;
}

.columns > div > div > svg.icon.icon-reg {
  height: 1rem;
  width: 0.5rem;
}

.columns > div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

@media (min-width: 768px) {
  .columns > div {
    flex-direction: row;
    align-items: unset;
  }
}

.columns > div > a {
  transition: transform 0.2s;
}

.columns > div > a:hover,
.columns > div > a:focus {
  transform: scale(1.1) rotate(3deg);
}

.columns > div > a:nth-child(even):hover,
.columns > div > a:nth-child(even):focus {
  transform: scale(1.1) rotate(-3deg);
}

.columns > div > a,
.columns > div > div {
  margin-bottom: var(--pad-l);
}

@media (min-width: 768px) {
  .columns > div > a,
  .columns > div > div {
    margin-right: var(--pad-l);
  }

  .columns > div > *:last-child {
    margin-right: 0;
  }
}

.columns-2 > div > a,
.columns-2 > div > div {
  padding: var(--pad-s);
  max-width: var(--block-xs);
}

@media (min-width: 768px) {
  .columns-2 > div > a,
  .columns-2 > div > div {
    width: calc(100% / 2);
  }

  .columns-3 > div > a,
  .columns-3 > div > div {
    width: calc(100% / 3);
  }
}
