/* --------------------
ORDER INDEX
----------------------- */
.order .order-hide {
  visibility: hidden;
  display: none;
}

.order .order-menu-btn {
  cursor: pointer;
  transition: transform 0.2s;
}

.order .order-menu-btn:hover,
.order .order-menu-btn:focus {
  transform: scale(1.1) rotate(3deg);
}

.order .order-menu-btn:nth-child(even):hover,
.order .order-menu-btn:nth-child(even):focus {
  transform: scale(1.1) rotate(-3deg);
}

html.order-index,
html.order-index body {
  background: var(--color-blue);
}

html.order-index * {
  color: var(--color-pink);
  fill: var(--color-pink);
}

html.order-selected-pickup, html.order-selected-pickup body {
  background: var(--color-yellow);
}

html.order-selected-pickup * {
  color: var(--color-green);
  fill: var(--color-green);
}

html.order-selected-pickup .btn-order {
  background: var(--color-green);
  color: var(--color-yellow);
}

html.order-selected-pickup .btn-order svg {
  fill: var(--color-yellow);
  stroke: var(--color-yellow);
}

html.order-selected-delivery, html.order-selected-delivery body {
  background: var(--color-pink);
}

html.order-selected-delivery * {
  color: var(--color-red);
  fill: var(--color-red);
}

html.order-selected-delivery .btn-order {
  background: var(--color-red);
  color: var(--color-pink);
}

html.order-selected-delivery .btn-order svg {
  fill: var(--color-pink);
  stroke: var(--color-pink);
}

/* --------------------
ORDER STORE PAGES
----------------------- */
html.order.abnormal .title {
  font-size: 90%;
}

@media (min-width: 464px) {
  html.order.abnormal .title {
    font-size: unset;
  }
}

html.order.abnormal svg.icon.icon-store {
  transform: rotate(-3deg);
}

html.order .section-wrapper:first-of-type svg:not(.icon-close) {
  margin-bottom: var(--pad-xl);
}

html.order .section-wrapper:first-of-type p {
  font-weight: var(--weight-bold);
  line-height: 1.4;
}

@media (min-width: 768px) {
  html.order .section-wrapper:first-of-type p {
    font-size: var(--body-size-l);
  }
}

html.order .section-wrapper.section-wrapper-filled {
  background: var(--color-blue);
  color: var(--color-white);
  fill: var(--color-white);
  width: var(--block-m);
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: var(--pad-xl);
  padding: var(--pad-xl) var(--pad-s);
}

html.order .section-wrapper.section-wrapper-filled > div {
  width: var(--block-xs);
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

html.order .section-wrapper.section-wrapper-filled h2 {
  margin-bottom: var(--pad-l);
}

html.order .section-wrapper.section-wrapper-filled a:not(.btn) {
  color: var(--color-white);
}

/* --------------------
ORDER STORE MENUS
----------------------- */
html.order img {
  max-height: 16rem;
  width: auto;
  max-width: 100%;
  transition: transform 0.2s;
}

html.order * img:hover,
html.order * img:focus {
  transform: scale(1.1) rotate(3deg);
}

html.order *:nth-child(even) img:hover,
html.order *:nth-child(even) img:focus {
  transform: scale(1.1) rotate(-3deg);
}

html.order h3 + h3 {
  margin-top: -.6rem;
  padding-top: unset;
}

html.order h3 + p strong {
  font-size: var(--body-size-l);
}

html.order .btn.btn-rect {
  background: var(--color-white);
  color: var(--color-blue);
}

/* --------------------
ORDER WHOLESALE
----------------------- */
html.order .checkout.wholesale-checkout .wholesale-table-body {
  background: unset;
  color: var(--color-blue);
}

html.order .checkout.wholesale-checkout .wholesale-table-body .wholesale-type-heading {
  background: var(--color-pink);
  color: var(--color-blue);
  text-transform: uppercase;
}

html.order .checkout.wholesale-checkout .wholesale-table-body tr td {
  border-left: 1px solid;
}

html.order .checkout.wholesale-checkout .wholesale-table-body tr td:first-of-type {
  text-align: left;
}

html.order .checkout.wholesale-checkout .wholesale-table-body tr td.wholesale-input {
  padding: 0;
}

html.order .checkout.wholesale-checkout .wholesale-table-body tr td .wholesale-input-quantity {
  background: var(--color-yellow);
  text-align: center;
}

html.order .checkout.wholesale-checkout .wholesale-table-body tr td input {
  width: 100%;
  border-bottom: 0;
}

html.order .checkout.wholesale-checkout .wholesale-table-body tr td p {
  padding: 0;
  text-align: left;
}

html.order .checkout.wholesale-checkout .wholesale-table-body tr td p.wholesale-item-desc {
  margin-top: var(--pad-s);
  font-family: 'Poppins';
  font-size: calc(var(--body-size-m) / 1.15);
  font-weight: lighter;
}

html.order .checkout.wholesale-checkout .wholesale-low-stock {
  display: inline-block;
  margin-top: var(--pad-xs);
  margin-left: var(--pad-s);
  border-radius: 8px;
  padding: var(--pad-s) var(--pad-m);
  background-color: var(--color-yellow-alt);
  box-shadow: 0 1px 2px var(--color-md-gray);
  font-size: var(--body-size-m);
  text-transform: uppercase;
  transform: rotate(-2deg);
}
