h2 {
    // do not style here! globals are in typography
    &#about, &#aboutstarburst {
        & ~ p {
            // color: red;
            font-size: 150%;
            line-height: 1.2;
            margin-top: 4rem;
        }
    }
    &#locations {
        & ~ * {
            font-size: 150%;
            line-height: 1;

            & > a {
                text-decoration: none;
                transition: 0.2s;
                cursor: pointer;

                &:hover, &:focus {
                    letter-spacing: 1.5px;
                }
            }
        }
    }
}

h3 {
    // do not style here! globals are in typography
    &#store {
        text-align: left;
        & svg.icon-store {
            margin-left: -3.8rem; // align with building, not sign
        }
        & ~ p {
            text-align: left;
            & img {
                height: 60rem;
                width: 52.5rem;
                object-fit: cover;
            }
        }
    }

    &#lab {
        text-align: right;
        & ~ p {
            text-align: right;
            & img {
                height: 60rem;
                width: 52.5rem;
                object-fit: cover;
            }
        }
    }
}

div#meettheteam {
    & img {
        border-radius: 50%;
        height: 18rem !important;
        width: 18rem !important;
        object-fit: cover !important;
        @include bfv;
    }
}

// AFTER CLASSES & IDS ARE ADDED
#about, #aboutstarburst {
    & .about-text {
        @include font-acumin-semibold;
    }
    & .locations-container {
        // border: 2px solid gold;
        // display: flex;
        margin-top: 4rem;

        & .location-item {
            // border: 2px solid red;
            position: relative;
            min-height: 60rem;
            padding-bottom: 4rem;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            & p > img {
                position: absolute;
                top: 0;
            }

            & a {
                text-decoration: none;
                transition: 0.2s;
                cursor: pointer;

                &:hover, &:focus {
                    letter-spacing: 1.5px;
                }
            }

            &.store {
                margin-bottom: 4rem;

                & h3, & p {
                    margin-left: calc(52.5rem + 8rem);
                }

                & p > img {
                    left: 0;
                }
            }

            &.lab {
                & h3, & p {
                    margin-right: calc(52.5rem + 8rem);
                }

                & p > img {
                    right: 0;
                }
            }
        }
    }
}

// PRODUCT SEARCH
.search-form {
    // background: red;
    display: flex;
    margin-top: 4rem;
    background: $color-white;
    color: $color-blue;

    & input {
        border: 1px solid currentColor;
        padding: 1.5rem 2rem;
        flex-basis: 75%;
        transition: 0.2s all;

        &::placeholder {
            color: inherit;
        }

        &:focus, &:hover {
            background: $color-pink;
        }
    }

    & button {
        flex-basis: 25%;
        background: $color-blue;
        color: $color-white;
        transition: 0.2s all;
        cursor: pointer;

        &:focus, &:hover {
            letter-spacing: 3px;
        }
    }
}

#product-search-results {
    margin-top: 4rem;
    // border: 2px solid red;
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-between;

    & h3 {
        // color: red;
        margin-bottom: 4rem;
        flex: 1 1 100%;
    }

    & div {
        background: $color-blue;
        color: $color-white;
        text-align: left;
        padding: 2rem;
        width: calc((100% / 3) - 0.7rem);
        margin: 0 1rem 1rem 0;

        &:nth-child(3n + 1) {
            // background: red;
            margin-right: -1rem;
        }

        & a {
            text-decoration: none;
            transition: 0.2s all;

            &:focus, &:hover {
                letter-spacing: 1.5px;
            }
        }

        & h5 {
            font-size: 60%;
        }

        & p {
            @include font-poppins;
            font-size: 55%;
        }
    }
}

@media only screen and (max-width: $tablet) {
    .search-form {
        // border: 2px solid gold;
        & button {
            min-width: 33%;
        }
    }
    #product-search-results {
        // border: 2px solid gold;
        & div {
            width: calc((100% / 2) - 0.4rem);

            &:nth-child(3n + 1) {
                // background: red;
                margin-right: 1rem;
            }

            &:nth-child(2n + 1) {
                // background: green;
                margin-right: -1rem;
            }
        }
    }
    #about, #aboutstarburst {
        & .locations-container {
            // background: pink;
            & .location-item {
                min-height: 40rem;
                & img {
                    // border: 2px solid gold;
                    height: 40rem;
                    width: 32.5rem;
                }
                &.store {
                    & h3, & p {
                        margin-left: calc(32.5rem + 6rem);
                    }
                }
                &.lab {
                    & h3, & p {
                       margin-right: calc(32.5rem + 6rem);
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: $mobile) {
    .search-form {
        // border: 2px solid gold;
        & input {
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
    #product-search-results {
        // border: 2px solid gold;
        & div {
            width: 100%;
            margin: 0 0 1rem !important;
        }
    }
    #about, #aboutstarburst {
        & .locations-container {
            // background: pink;
            & .location-item {
                min-height: 0;
                & p > img {
                    position: static;
                    margin-top: 4rem;
                    width: 100%;
                }
                &.store {
                    & h3, & p {
                        margin-left: 0;
                        text-align: center;
                    }
                }
                &.lab {
                    & h3, & p {
                       margin-right: 0;
                       text-align: center;
                    }
                }
            }
        }
    }
}

