h2 {
    &#soft-serve, &#drinks-drinks-drinks, 
    &#pints, &#bars, &#sandos,
    &#composed-cones, &#pizza, 
    &#choco-taco, &#specials, 
    &#norm-cores, &#ice-cream-cake,
    &#ice-cream-pie,
    &#gift-cards, &#apparel, &#accessories,
    &#delivery-zips, &#more-stuff,
    &#pick-your-pack { // STORE HEADINGS
        // color: red;
        & ~ h3 {
            // color: red;
            margin-top: 2rem;
            margin-bottom: 0.2rem;
        }
        & ~ p {
            @include font-poppins;
            font-size: 60%;
            line-height: 1.4;
            margin-top: 0.4rem;
            // color: red;
            & img {
                margin-top: 1rem;
                height: 20rem;
                max-width: 100%;
                object-fit: contain;
                transition: 0.2s all;
                @include bfv;

                &:hover, &:focus {
                    transform: translateY(0.5rem) scale(1.2) rotate(-3deg);
                }
            }
            & strong {
                @include font-poppins-black;
                font-size: 120%;
            }
            & a {
                @include font-acumin-semibold;
                font-size: 2rem;
                text-decoration: none;
                cursor: not-allowed;
            }
        }
    }
    &#soft-serve { // soft-serve heading
        & ~ h3 {
            margin: 0.2rem 0;
        }
    }
}

// SHIPPING PAGE
.shipping-how-it-works {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    & > div {
        @include font-poppins-bold;
        font-size: 1.6rem;
        line-height: 1.2;
        width: calc(100% / 3);
        padding: 4rem 6rem;
        & svg {
            display: block;
            // border: red;
            max-width: 100%;
            margin-bottom: 4rem;
        }
    }
}

// AFTER CLASSES AND IDS ARE ADDED
.menu {
    // border: 2px solid red;
    position: relative;
    margin-top: 4rem;
    padding: 2rem 0;

    & img {
        height: 20rem;
        max-width: 100%;
        object-fit: contain;
    }

    &-filled {
        & > * {
            padding-left: 33%;
            padding-right: 33%;
        }
    } 

    &-carousel {
        // border: 2px solid blue;
        padding: 0.5rem 0 1rem;
    }

    & p {
        @include font-poppins;
        font-size: 60%;
        line-height: 1.4;
        margin-top: 0.4rem;

        & img {
            margin-top: 1rem;
            height: 20rem;
            max-width: 100%;
            object-fit: contain;
            transition: 0.2s all;
            @include bfv;

            &:hover, &:focus {
                transform: translateY(0.5rem) scale(1.2) rotate(-3deg);
            }
        }
    }

    & a {
        @include font-acumin-semibold;
        font-size: 2rem;
        text-decoration: none;
        cursor: not-allowed;
    }
}

.p-softserve {
    // border: 20px solid gold;
    & .btn {
        &-rect {
            margin: 2rem 0;
        }
    }
}

.p-normal {
    & > p {
        @include font-poppins-black;
        line-height: 1.2;
        margin-top: 0.8rem;
    }
}

#shipping {
    & .p-howitworks {
        margin-top: 5rem;
        padding: 5rem 0;
        background: $color-blue;
        color: $color-white;
    }
}

@media only screen and (max-width: $tablet) {
    .menu {
        &-filled {
            & > * {
                padding-left: 25%;
                padding-right: 25%;
            }
        }
    }
}


@media only screen and (max-width: $mobile) {
    .menu {
        &-filled {
            & > * {
                padding-left: 2rem;
                padding-right: 2rem;
            }
        }
    }
}