@mixin container {
    width: 1200px;
    max-width: 80%;
    margin: 0 auto;
    padding: 1.8rem 0;
}

@mixin bfv {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

@mixin stretchX {
    transform: scale(1.2, 1);
}

@mixin stretchY {
    transform: scale(1, 1.2);
}

// FONT STUFF
@mixin font-normal {
    font-family: sans-serif;
    font-weight: 400;
    font-style: normal;
    @include stretchY;
}

@mixin font-acumin {
    font-family: acumin-pro-extra-condensed, sans-serif;
    font-weight: 400;
    font-style: normal;
}

@mixin font-acumin-thin {
    font-family: acumin-pro-extra-condensed, sans-serif;
    font-weight: 300;
    font-style: normal;
}

@mixin font-acumin-italic {
    font-family: acumin-pro-extra-condensed, sans-serif;
    font-weight: 400;
    font-style: italic;
}

@mixin font-acumin-semibold {
    font-family: acumin-pro-extra-condensed, sans-serif;
    font-weight: 600;
    font-style: normal;
}

@mixin font-acumin-ultrablack {
    font-family: acumin-pro-extra-condensed, sans-serif;
    font-weight: 900;
    font-style: normal;
}

@mixin font-poppins {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

@mixin font-poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

@mixin font-poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

@mixin font-poppins-ultrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}
