// COLOR
$color-white: #FFFCF3;
$color-lt-gray: #f9f9f9;
$color-md-gray: #ececec;
$color-dk-gray: #d3d3d3;
$color-red: #F94F0D;
$color-yellow: #FFFC92;
$color-yellow-alt: #F7FF25;
$color-green: #00C1C6;
$color-blue: #0D26F9;
$color-pink: #FFD4CC;

// WEIGHTS
$weight-normal: 400;
$weight-bold: 700;

// FONTS
$font-mono: monospace;

// MEDIA QUERIES
$tablet: 76.8rem;
$mobile: 46.4rem;