.customize-container {
  width: 100%;
  background: var(--color-white);
  text-align: center;
  overflow-y: scroll;
}

.customize-container[aria-expanded=true] {
  visibility: unset;
  display: unset;
  position: fixed;
  top: 0;
  animation-name: fadeIn;
  animation-timing-function: ease-in;
  animation-duration: 0.2s;
  z-index: 4;
}

.customize-container[aria-expanded=true] .customize {
  height: 100vh;
  padding: var(--pad-xl) var(--pad-s);
}

/* --------------------
CLOSE BUTTON
----------------------- */
.customize .btn.btn-close {
  background: var(--color-white);
}

.customize .btn.btn-close:hover,
.customize .btn.btn-close:focus {
  background: var(--color-blue);
  color: var(--color-white);
}

/* --------------------
HEAD
----------------------- */
.customize .customize-head {
  margin-top: var(--pad-xl);
  padding: var(--pad-s);
  border: 1px solid;
}

/* --------------------
BODY
----------------------- */
.customize .customize-body {
  border-left: 1px solid;
  border-right: 1px solid;
}

/* --------------------
FOOT
----------------------- */
.customize .customize-foot {
  margin-top: var(--pad-xl);
  padding: var(--pad-s);
  padding-bottom: var(--pad-xxl);
}

.customize .customize-foot .btn.btn-rect {
  background: var(--color-blue);
  color: var(--color-white);
}

/* --------------------
CAROUSEL BUTTONS
----------------------- */
.customize .customize-btn-wrapper {
  font-family: 'acumin-pro-extra-condensed', 'Arial Narrow', sans-serif;
  font-weight: var(--weight-bold);
  font-size: var(--heading-size-xs);
}
.customize .customize-btn-wrapper .customize-btn {
  display: inline-block;
  height: var(--btn-xxs);
  width: var(--btn-xxs);
  margin: 0 var(--pad-s);
  background: var(--color-blue);
  color: var(--color-white);
  border-radius: 50%;
  font-family: 'Poppins';
  line-height: 1.3;
  cursor: pointer;
  transition: transform 0.2s;
}

.customize .carousel[data-limit-hit] .customize-btn-wrapper .customize-btn.customize-plus {
  background: var(--color-dk-gray);
  cursor: not-allowed;
}

.customize .carousel[data-limit-hit] .customize-btn-wrapper .customize-btn.customize-plus:hover,
.customize .carousel[data-limit-hit] .customize-btn-wrapper .customize-btn.customize-plus:focus {
  transform: scale(1);
}

.customize .customize-btn-wrapper .customize-btn.customize-plus:hover,
.customize .customize-btn-wrapper .customize-btn.customize-plus:focus {
  background: var(--color-green);
}

.customize .customize-btn-wrapper .customize-btn.customize-minus:hover,
.customize .customize-btn-wrapper .customize-btn.customize-minus:focus {
  background: var(--color-red);
}

.customize .customize-btn-wrapper .customize-btn:hover,
.customize .customize-btn-wrapper .customize-btn:focus {
  transform: scale(1.1);
}
