.legal main h1 + p {
  text-align: center;
}

.legal h2, .legal h3 {
  text-align: left;
}

.legal main p {
  text-align: left;
}

.legal main a:any-link {
  text-decoration: none;
  border-bottom: 1px solid;
}

.legal main a:any-link:hover, 
.legal main a:any-link:focus {
  border-bottom: 2px solid;
}

.legal .section-wrapper > div > * {
  width: var(--block-s);
}
