.messages-container, .messages-thread {
    opacity: 1;
}

.admin {
    &-login {
        margin-top: 5rem;
        display: flex;
        flex-direction: column;
    }
    &-name, &-password {
        border: 1px solid currentColor;
        border-bottom: 0;
        text-align: center;
        transition: 0.2s;
        &:hover, &:focus {
            background: $color-yellow-alt;
        }
    }
    &-btn {
        background: $color-blue;
        color: $color-white;
        cursor: pointer;
        transition: 0.2s;
        &:hover, &:focus {
            letter-spacing: 0.4rem;
        }
    }
}

.messages {
    &-normessage {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
        
        & h2 {
            @include font-poppins-black;
            text-align: left;
            font-size: 3rem;
        }
    }
    &-btn {
        background: $color-blue;
        color: $color-white;
        border-radius: 3rem;
    }
    &-disabled {
        &-text {
            background: $color-md-gray !important;
        }
        &-btn {
            cursor: not-allowed !important;
            &:hover, &:focus {
                background: $color-dk-gray !important;
                color: #111 !important;
            }
        }
    }
    &-preview {
        // border: 2px solid red;
        @include font-poppins;
        font-size: 1.6rem;
        width: 100%;
        border-collapse: collapse;
        &-row {
            border-bottom: 1px solid $color-md-gray;
            cursor: pointer;
            transition: 0.2s;
            &:hover, &:focus {
                background: $color-md-gray;
            }
        }
        &-data {
            text-align: left;
            padding: 1rem;
        }
        &-recipient {
            font-weight: bold;
        }
        &-body, &-date {
            font-size: 1.2rem;
            color: #666;
        }
        &-date {
            width: 7rem;
            text-align: right;
            padding: 1rem;
        }
    }
    &-container {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        min-height: 100vh;
        width: calc(100vw - (100vw - 100%)); // remove scrollbar from equation
        overflow: none;
        z-index: 9;
        background: $color-white;
        display: flex;
        flex-direction: column;

    }
    &-boundingbox {
        width: 1200px;
        max-width: 90%;
        margin: 0 auto;
    }
    &-thread {
        padding: 0 10%;
        padding-top: 1rem;
        display: flex;
        flex-direction: column;
        overflow: auto;
        flex-grow: 1;
        
        & > * {
            width: 80%;
            @include font-poppins;
            font-size: 1.6rem;
            padding-bottom: 1rem;
            text-align: left;
        }
        &-inbound {
            // border: 2px solid green;
            align-self: flex-start;
            & .text-body {
                background: $color-md-gray;
                color: #111;
            }
        }
        &-outbound-api {
            // border: 2px solid red;
            align-self: flex-end;
            & .text-body {
                background: $color-blue;
                color: $color-white;
            }
        }
        &-close {
            &:hover, &:focus {
                background: $color-blue;
                color: $color-white;
                border-radius: 50%;
            }
        }
    }
    &-header {
        padding: 1rem;
        background: $color-lt-gray;
        border-bottom: 1px solid $color-md-gray;
        & aside {
            float: left;
            transition: 0.2s all;
            border-radius: 50%;
            cursor: pointer;
            & svg {
                margin: 0;
                padding: 0.6rem;
            }
        }
    }
    &-footer {
        padding: 0.6rem 0;
        background: $color-white;
        & form {
            display: flex;
        }
        & textarea {
            background: $color-white;
            @include font-poppins;
            font-size: 1.6rem;
            border: 1px solid $color-md-gray;
            // width: 80%;
            border-radius: 3rem;
            padding: 1rem 3rem;
            flex-grow: 1;
        }
        & button {
            background: $color-dk-gray;
            color: #111;
            border-radius: 50%;
            margin-left: 0.6rem;
            transition: 0.2s;
            cursor: pointer;
            & svg {
                margin: 0;
                padding: 0.6rem;
            }
            &:hover, &:focus {
                background: $color-blue;
                color: $color-white;
            }
        }
    }
}

.text {
    &-body {
        padding: 2rem 1.6rem;
        border-radius: 1rem;
    }
    &-date {
        font-size: 1rem;
        color: #666;
        padding-left: 1.6rem;
        padding-top: 0.5rem;
    }
}
