main > * {
    // border: 1px solid currentColor;
    opacity: 0;
}

.lazy-load {
    animation: lazy-load 0.5s linear 0s 1 normal;
    opacity: 1;
}

@keyframes lazy-load {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}