.starburst {
    // border: 1px solid gold;
    opacity: 1;

    float: left;
    position: relative;
    margin-top: -8%;
    margin-left: -8%;
    width: 18rem;
    transition: 0.2s all;
    cursor: pointer;
    z-index: 3;
    @include bfv;

    &-static {
        cursor: default;
    }

    &:hover, &:focus {
        transform: scale(1.2) rotate(12deg);

        & .icon-starburst {
            animation-duration: 7.5s;
        }
    }

    &-text {
        // color: red;
        position: absolute;
        top: 50%;
        left: 50%;
        @include font-poppins-bold;
        font-size: 1.8rem;
        text-align: center;
        line-height: 1;
        transform: translate(-50%, -50%) rotate(-12deg);
    }

    &-close {
        position: absolute;
        padding: 0 !important;
        top: 2rem;
        right: 5%;
        border-radius: 50%;
        cursor: pointer;
        transition: 0.2s all;

        &:hover, &:focus {
            transform: scale(1.6);
        }

        & svg.icon-close {
            width: 2.5rem;
            height: 2.5rem;
        }
    }
    
    & .icon-starburst {
        animation: spin 15s linear 0s infinite normal;
    }

    &[data-link=lab] {
        float: right;
        margin-left: 92%;
    }

    &.starburst-static {
        & svg.icon-starburst {
            fill: $color-red;
        }
    }
    
}

.ship-starbust {
    // color: red;
    position: absolute;
    top: -10rem;
    right: 0;
    cursor: initial;
    & span {
        color: $color-pink;
        margin-top: 0.2rem;
    }
    &-container {
        position: relative;
    }
}

@media only screen and (max-width: $mobile) {
    .starburst, .starburst[data-link=lab] {
        float: none;
        margin: 0 auto;
        margin-top: 4rem;

        &:hover, &:focus {
            transform: scale(1.4) rotate(12deg);
        }    

        &.starburst-static {
            border-top: 4rem solid transparent; // very hacky
        }
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}