.checkout-container {
  width: 100%;
  background: var(--color-white);
  text-align: center;
  overflow-y: scroll;
}

.checkout-container[aria-expanded=true] {
  visibility: unset;
  display: unset;
  position: fixed;
  top: 0;
  animation-name: fadeIn;
  animation-timing-function: ease-in;
  animation-duration: 0.2s;
  z-index: 4;
}

.checkout-container[aria-expanded=true] .checkout {
  height: 100vh;
  padding: var(--pad-xl) var(--pad-s);
}

.checkout div {
  position: relative;
}

/* --------------------
BACK BUTTON
----------------------- */
.checkout .btn.btn-back {
  background: var(--color-yellow-alt);
  transition: background 0.2s, color 0.2s, transform 0.2s;
}

.checkout .btn.btn-back:hover,
.checkout .btn.btn-back:focus {
  background: var(--color-blue);
  color: var(--color-yellow-alt);
}

/* --------------------
HEAD
----------------------- */
.checkout .checkout-head {
  margin-top: var(--pad-xl);
  padding: var(--pad-s);
  border: 1px solid;
}

/* --------------------
TABLE
----------------------- */
.checkout .checkout-table {
  width: 100%;
  border: 1px solid;
  border-collapse: collapse;
  font-family: 'acumin-pro-extra-condensed', 'Arial Narrow', sans-serif;
  font-weight: var(--weight-bold);
  font-size: var(--heading-size-xs);
}

.checkout .checkout-table-body {
  background: var(--color-blue);
  color: var(--color-white);
}

.checkout .checkout-table-body tr:not(:last-of-type) {
  border-bottom: 1px solid var(--color-white);
}

.checkout .checkout-table-body .checkout-table-body-quantity > * {
  margin: var(--pad-s) auto;
}

@media (min-width: 768px) {
  .checkout .checkout-table-body .checkout-table-body-quantity {
    min-width: var(--btn-l);
    padding-left: var(--pad-l);
    padding-right: var(--pad-l);
  }

  .checkout .checkout-quantity {
    padding: 0 var(--pad-m);
  }
}

.checkout .checkout-btn {
  display: block;
  height: var(--btn-xxs);
  width: var(--btn-xxs);
  background: var(--color-white);
  color: var(--color-blue);
  border-radius: 50%;
  font-family: 'Poppins';
  line-height: 1.3;
  cursor: pointer;
  transition: transform 0.2s;
}

@media (min-width: 768px) {
  .checkout .checkout-btn {
    display: inline-block;
  }
}

.checkout .checkout-btn.checkout-plus:hover,
.checkout .checkout-btn.checkout-plus:focus {
  color: var(--color-green);
}

.checkout .checkout-btn.checkout-minus:hover,
.checkout .checkout-btn.checkout-minus:focus {
  color: var(--color-red);
}

.checkout .checkout-btn:hover,
.checkout .checkout-btn:focus {
  transform: scale(1.1);
}

.checkout .checkout-table-body .checkout-table-body-item {
  text-align: left;
  line-height: 1;
}

.checkout .checkout-table-body .checkout-table-body-price {
  text-align: right;
}

.checkout .checkout-table-foot {
  text-align: right;
}

.checkout .checkout-table-foot .checkout-total-highlight {
  background: var(--color-yellow-alt);
}

.checkout .checkout-table-body tr td,
.checkout .checkout-table-foot tr td {
  padding: var(--pad-l) var(--pad-s);
  border-bottom: 1px solid;
  line-height: 1;
}

@media (min-width: 464px) {
  .checkout .checkout-table-body tr td,
  .checkout .checkout-table-foot tr td {
    padding: var(--pad-l) var(--pad-l);
  }
}

@media (min-width: 768px) {
  .checkout .checkout-table-body tr td,
  .checkout .checkout-table-foot tr td {
    padding: var(--pad-l) var(--pad-xl);
  }
}

/* --------------------
ITEMS
----------------------- */
.checkout .checkout-items {
  margin-top: var(--pad-xl);
  background: var(--color-pink);
  color: var(--color-blue);
}

.checkout .checkout-items[aria-expanded=false] {
  display: none;
  visibility: hidden;
}

.checkout .checkout-items h2 {
  padding: 3rem 0 2rem;
}

.checkout .checkout-items > div {
  border-bottom: 0;
  padding-bottom: 1rem;
}

/* --------------------
FORM
----------------------- */
.checkout .checkout-form {
  margin-top: var(--pad-xl);
  border: 1px solid;
  border-bottom: 0;
}

.checkout .checkout-form.form-hide {
  visibility: hidden;
  display: none;
}

/* --------------------
FOOT
----------------------- */
.checkout .checkout-foot {
  margin-top: var(--pad-xl);
  padding-bottom: calc(var(--pad-xxl) * 2);
}

.checkout .checkout-foot p {
  font-weight: var(--weight-bold);
}

.checkout .checkout-foot .btn.btn-rect {
  background: var(--color-blue);
  color: var(--color-white);
}
