h1#normessage {
  padding-bottom: 0;
}

/* --------------------
HEAD
----------------------- */
.messages .messages-head {
  text-align: center;
  margin-bottom: var(--pad-xl);
}

.messages .messages-head .btn {
  font-family: 'acumin-pro-extra-condensed', 'Arial Narrow', sans-serif;
  font-size: var(--heading-size-xs);
  font-weight: var(--weight-bold);
  width: 100%;
}

.messages .messages-head .btn.messages-convo-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.messages .messages-head .btn.messages-convo-btn::before {
  content: '';
  background-color: var(--color-white);
  width: 16px;
  height: 16px;
  margin-top: var(--pad-xs);
  margin-right: var(--pad-s);
  -webkit-mask: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8 16C12.4183 16 16 12.4183 16 8C16 3.58172 12.4183 0 8 0C3.58172 0 0 3.58172 0 8C0 12.4183 3.58172 16 8 16ZM5.70711 4.29289C5.31658 3.90237 4.68342 3.90237 4.29289 4.29289C3.90237 4.68342 3.90237 5.31658 4.29289 5.70711L6.58579 8L4.29289 10.2929C3.90237 10.6834 3.90237 11.3166 4.29289 11.7071C4.68342 12.0976 5.31658 12.0976 5.70711 11.7071L8 9.41421L10.2929 11.7071C10.6834 12.0976 11.3166 12.0976 11.7071 11.7071C12.0976 11.3166 12.0976 10.6834 11.7071 10.2929L9.41421 8L11.7071 5.70711C12.0976 5.31658 12.0976 4.68342 11.7071 4.29289C11.3166 3.90237 10.6834 3.90237 10.2929 4.29289L8 6.58579L5.70711 4.29289Z' fill='black' fill-opacity='0.9'/%3E%3C/svg%3E%0A");
  mask: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8 16C12.4183 16 16 12.4183 16 8C16 3.58172 12.4183 0 8 0C3.58172 0 0 3.58172 0 8C0 12.4183 3.58172 16 8 16ZM5.70711 4.29289C5.31658 3.90237 4.68342 3.90237 4.29289 4.29289C3.90237 4.68342 3.90237 5.31658 4.29289 5.70711L6.58579 8L4.29289 10.2929C3.90237 10.6834 3.90237 11.3166 4.29289 11.7071C4.68342 12.0976 5.31658 12.0976 5.70711 11.7071L8 9.41421L10.2929 11.7071C10.6834 12.0976 11.3166 12.0976 11.7071 11.7071C12.0976 11.3166 12.0976 10.6834 11.7071 10.2929L9.41421 8L11.7071 5.70711C12.0976 5.31658 12.0976 4.68342 11.7071 4.29289C11.3166 3.90237 10.6834 3.90237 10.2929 4.29289L8 6.58579L5.70711 4.29289Z' fill='black' fill-opacity='0.9'/%3E%3C/svg%3E%0A");
  transform: rotate(45deg);
}

/* --------------------
PREVIEWS
----------------------- */
.messages table.messages-preview {
  /* border: 2px solid seagreen; */
  border-collapse: collapse;
  width: 100%;
}

.messages .messages-preview tr {
  position: relative;
  border-top: 1px solid var(--color-lt-gray);
  border-bottom: 1px solid var(--color-lt-gray);
  transition: background 0.2s;
  cursor: pointer;
}

.messages .messages-preview tr.message-new td:first-child::before {
  content: '•';
  position: absolute;
  top: 50%;
  left: calc(var(--pad-m) * -1);
  font-size: var(--heading-size-s);
  transform: translateY(-50%);
}

.messages .messages-preview tr.message-new td:first-child::after {
  content: '•';
  position: absolute;
  top: 50%;
  left: calc(var(--pad-m) * -1);
  font-size: var(--heading-size-s);
  transform: translateY(-52%);
  opacity: 0.2;
  animation: pulse 2s ease-out infinite;
}

@keyframes pulse {
  0% {
    transform: translateY(-50%) scale(1);
  }
  50%, 75% {
    transform: translateY(-52%) scale(2.5);
  }
  80%, 100% {
    opacity: 0;
  }
}

.messages .messages-preview tr:hover,
.messages .messages-preview tr:focus {
  background: var(--color-lt-gray);
}

.messages .messages-preview tr td {
  padding: var(--pad-l) var(--pad-m);
}

.messages .messages-preview .messages-preview-author {
  font-weight: var(--weight-bold);
}

.messages .messages-preview .messages-preview-body {
  color: var(--color-dk-gray);
  font-size: var(--body-size-s);
}

.messages .messages-preview .messages-preview-timeago {
  color: var(--color-md-gray);
  font-size: var(--body-size-s);
  text-align: right;
  line-height: 1;
}

.messages .messages-preview tr td p {
  text-align: left;
  padding: 0;
}

/* --------------------
THREAD
----------------------- */
.messages-thread {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
  width: 100%;
  overflow: none;
  background: var(--color-white);
  z-index: 4;
  animation-name: fadeIn;
  animation-timing-function: ease-in;
  animation-duration: 0.2s;
}

.messages-thread .messages-thread-head {
  background: var(--color-lt-gray);
  padding: var(--pad-s) 0;
  border-bottom: 1px solid #e2e1e1;
}

.messages-thread .messages-thread-head div {
  position: relative;
  width: var(--block-m);
  max-width: 90%;
  margin: 0 auto;
}

.messages-thread .messages-thread-head aside.btn.btn-close {
  position: absolute;
  top: 50%;
  height: var(--btn-xs);
  width: var(--btn-xs);
  padding: var(--pad-s);
  transform: translateY(-50%);
}

.messages-thread .messages-thread-head aside.btn.btn-close:hover,
.messages-thread .messages-thread-head aside.btn.btn-close:focus {
  background: var(--color-blue);
  color: var(--color-lt-gray);
}

.messages-thread .messages-thread-head h2 {
  font-size: var(--heading-size-s);
}

.messages-thread .messages-thread-head input {
  width: 100%;
  font-size: var(--heading-size-s);
  text-align: center;
}

.messages-thread .messages-thread-head-invalid input {
  color: var(--color-red);
}

.messages-thread .messages-thread-body {
  width: var(--block-m);
  max-width: 90%;
  margin: 0 auto;
  padding-top: var(--pad-m);
  display: flex;
  flex-direction: column;
  overflow: auto;
  flex-grow: 1;
}

.messages-thread .messages-thread-body > div {
  margin-bottom: var(--pad-m);
}

.messages-thread .messages-thread-inbound,
.messages-thread .messages-thread-outbound-api {
  width: var(--block-s);
  max-width: 90%;
}

.messages-thread .messages-thread-outbound-api {
  align-self: flex-end;
}

.messages-thread .messages-thread-inbound .message-thread-date {
  margin-left: var(--pad-m);
  text-align: left;
}

.messages-thread .messages-thread-outbound-api .message-thread-date {
  margin-right: var(--pad-m);
  text-align: right;
}

.messages-thread .message-thread-date {
  color: var(--color-md-gray);
  font-size: var(--body-size-s);
}

.messages-thread .messages-thread-inbound .message-thread-body,
.messages-thread .messages-thread-outbound-api .message-thread-body {
  padding: var(--pad-l);
  border-radius: 1rem;
  text-align: left;
}

.messages-thread .messages-thread-inbound .message-thread-body {
  background: var(--color-lt-gray);
  color: var(--color-black);
}

.messages-thread .messages-thread-outbound-api .message-thread-body {
  background: var(--color-blue);
  color: var(--color-white);
}

.messages-thread .messages-thread-foot {
  width: var(--block-m);
  max-width: 90%;
  margin: 0 auto;
  padding-top: var(--pad-m);
  padding-bottom: var(--pad-xxl);
  margin-bottom: calc(var(--pad-m) + env(safe-area-inset-bottom, var(--pad-m)));
}

.messages-thread .messages-thread-foot form {
  display: flex;
  border: 1px solid #e2e1e1;
  border-radius: calc(var(--btn-m) / 2);
}

.messages-thread .messages-thread-foot form.message-outgoing-disabled {
  background: var(--color-lt-gray);
}

.messages-thread .messages-thread-foot form textarea {
  flex-grow: 1;
  height: var(--btn-m);
  max-height: var(--btn-m);
  padding-left: calc(var(--btn-s) / 2);
  color: var(--color-blue);
  font-family: 'Poppins';
  font-weight: var(--weight-normal);
  line-height: 1.3;
}

.messages-thread .messages-thread-foot form textarea:hover,
.messages-thread .messages-thread-foot form textarea:focus {
  font-size: unset;
}

.messages-thread .messages-thread-foot form textarea:focus + button {
  background: var(--color-blue);
}

.messages-thread .messages-thread-foot form textarea[disabled],
.messages-thread .messages-thread-foot form button[disabled] {
  cursor: not-allowed;
}

.messages-thread .messages-thread-foot form button {
  flex-basis: var(--btn-m);
  min-width: var(--btn-m);
  min-height: var(--btn-m);
  padding: var(--pad-m);
  border: 6px solid var(--color-white);
  border-radius: 50%;
  background: var(--color-md-gray);
  transition: 0.2s background;
}

.messages-thread .messages-thread-foot form button[disabled] {
  border-color: var(--color-lt-gray);
}

.messages-thread .messages-thread-foot form button svg {
  height: var(--btn-xs);
  width: var(--btn-xs);
  color: var(--color-white);
}

.messages-thread .messages-thread-foot form button:hover,
.messages-thread .messages-thread-foot form button:focus {
  background: var(--color-blue);
}

.messages-thread .messages-thread-foot form button[disabled]:hover,
.messages-thread .messages-thread-foot form button[disabled]:focus {
  background: var(--color-md-gray);
}
