.theme-bluepink {
    background: $color-blue;
    color: $color-pink;

    input {
        &:-webkit-autofill {
            -webkit-box-shadow: 0 0 0px 5rem $color-blue inset;
            -webkit-text-fill-color: $color-pink;
        }
    }

    & .header-cart {
        background: $color-blue;

        &-text {
            color: $color-pink;
        }
    }

    & .btn {
        &-back, &-rect {
            color: $color-blue !important;
            background: $color-pink !important;
        }
    }

    & .customize {
        &::-webkit-scrollbar-thumb {
            background: $color-pink;
        }
        & .invalid-field {
            animation-name: bluepink-error-blink;
        }
        &-close {
            background: $color-blue;
        }
        &-table {
            &-body {
                &-field, &-selectwrapper {
                    &:hover, &:focus {
                        background: $color-white;
                    }
                }
                &-radio, &-checkbox {
                    background: $color-pink;
                    color: $color-blue; 
                
                    &-container {
                        background: $color-blue;
                        color: $color-pink;
                    }
                }
            }
        }
    }

    & .checkout {
        // border: 2px solid gold;
        &-back {
            background: $color-green !important;
            color: $color-pink !important;
        }

        &-table {
            &-body {
                background: $color-pink !important;
                color: $color-blue !important;
                & tr {
                    border-top: 1px solid $color-blue;
                    border-bottom: 1px solid $color-blue;
                }
                &-quantity {
                    & .quantity {
                        background: $color-blue;
                        color: $color-pink;
                    }
                }
                &-radio, &-checkbox {
                    background: $color-pink;
                    color: $color-blue; 
                
                    &-container {
                        background: $color-blue;
                        color: $color-pink;
                    }
                }
            }
        }
    }

    & .menu {
        &-filled {
            background: $color-pink;
            color: $color-blue;

            &:nth-child(odd) {
                background: $color-white;
                color: $color-blue;
            }
    
            & .btn {
                &-rect {
                    background: $color-blue !important;
                    color: $color-pink !important;
                }
            }
        }
        &-carousel {
            &-btn {
                background: $color-blue;

                &:hover, &:focus {
                    background: $color-pink;
                    
                    & svg.icon {
                        color: $color-blue;
                    }
                }
            }
        }
    }

    & #back-to-top {
        background: $color-blue;
    }
}

@keyframes bluepink-error-blink {
    0% { background: $color-blue; }
   50% { background: $color-pink; }
   99% { background: $color-blue; }
}