.theme-white {
    background: $color-white;
    color: $color-blue;

    & .highlight {
        background: $color-yellow-alt;
    }

    & .starburst {
        & .icon-starburst {
            fill: $color-pink;
        }
        &[data-link=catering] {
            & .icon-starburst {
                fill: $color-yellow-alt;
            }
        }
    }
    
    & input {
        &:-webkit-autofill {
            -webkit-box-shadow: 0 0 0px 5rem $color-white inset;
            -webkit-text-fill-color: $color-blue;
            &:hover, &:focus {
                -webkit-box-shadow: 0 0 0px 5rem $color-pink inset;
            }
        }
    }

    & input, & select {
        transition: 0.2s all;
        &:hover, &:focus {
            background: $color-pink;
        }
    }

    & .header-cart {
        background: $color-white;

        &-text {
            color: $color-blue;
        }
    }

    & .btn {
        &-back, &-rect {
            color: $color-white;
            background: $color-blue;
        }
    }

    & .customize {
        &::-webkit-scrollbar-thumb {
            background: $color-blue;
        }
        & .invalid-field {
            animation-name: white-error-blink;
        }
        &-close {
            background: $color-white;
        }
        &-table {
            &-body {
                &-field, &-selectwrapper {
                    &:hover, &:focus {
                        background: $color-pink;
                    }
                }
                &-radio, &-checkbox {
                    background: $color-blue;
                    color: $color-white; 
                
                    &-container {
                        background: $color-white;
                        color: $color-blue;
                    }
                }
                &-carousel {
                    &-head {
                        background: $color-blue;
                        color: $color-white;
                    }
                }
            }
        }
    }

    & .checkout {
        // border: 2px solid gold;
        &::-webkit-scrollbar-thumb {
            background: $color-blue;
        }
        & .invalid-field {
            animation-name: white-error-blink;
        }
        &-back {
            background: $color-yellow-alt;
            color: $color-blue;
        }

        &-table {
            &-body {
                background: $color-blue;
                color: $color-white;
                & tr {
                    border-top: 1px solid $color-white;
                    border-bottom: 1px solid $color-white;
                }
                &-quantity {
                    & .quantity {
                        background: $color-white;
                        color: $color-blue;
                    }
                }
                &-field, &-selectwrapper {
                    &:hover, &:focus {
                        background: $color-pink;
                    }
                }
                &-radio, &-checkbox {
                    background: $color-blue;
                    color: $color-white; 
                
                    &-container {
                        background: $color-white;
                        color: $color-blue;
                    }
                }
            }
            &-foot {
                &-total {
                    background: $color-yellow-alt;
                }
            }
        }
    }

    & .menu {
        &-filled {
            background: $color-blue;
            color: $color-white;

            // &:nth-child(odd) {
            //     background: $color-pink;
            //     color: $color-blue;
            // }
    
            & .btn {
                &-rect {
                    background: $color-white;
                    color: $color-blue;
                }
            }
        }
        &-carousel {
            &-btn {
                background: $color-white;

                &:hover, &:focus {
                    background: $color-blue;
                    
                    & svg.icon {
                        color: $color-white;
                    }
                }
            }
            & .quantity {
                background: $color-blue;
                color: $color-white;
            }
        }
    }

    & .sq {
        &-form {
            &-btn {
                background: $color-blue;
                color: $color-white; 
            }
        }
        &-input {
            &:hover, &:focus {
                background: $color-pink;
            }
        }
    }

    & #back-to-top {
        background: $color-white;
    }

    // themes
    & .theme-pink {
        background: $color-pink;
        color: $color-blue;

        & .btn {
            &-rect {
                background: $color-white !important;
                color: $color-blue !important;
            }
        }
    }
}

@keyframes white-error-blink {
     0% { background: $color-white; }
    50% { background: $color-pink; }
    99% { background: $color-white; }
}