.post-feed {
  border: 2px solid red;
  display: flex;
  flex-wrap: wrap;
}

.post {
  width: 100%;
  border: 2px solid blue;
}

.post-pic {
  max-width: 100%;
}

.post-caption {
  visibility: hidden;
  display: none;
}

.btn.post-btn {
  background: var(--color-blue);
  color: var(--color-white);
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  margin-bottom: 1.6rem;
}