.post-feed, .current-carousel {
  border: 1px solid var(--color-blue);
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
}

.post-feed.hidden, .current-carousel.hidden {
  visibility: hidden;
  display: none;
}

.post {
  width: 100%;
  margin-bottom: 2rem;

  /* border: 2px solid blue; */
}

/* //46.4rem

//76.8rem */

@media (min-width: 46.4rem) {
  .post {
    /* border: 2px solid red; */
    width: calc(50% - 1rem);
    margin-right: 2rem;
  }

  .post:nth-child(even) {
    margin-right: 0;
  }
}

@media (min-width: 76.8rem) {
  .post {
    /* border: 2px solid red; */
    width: calc(33.3333% - 1.5rem);
    margin-right: 2rem;
  }

  .post:nth-child(even) {
    margin-right: 2rem;
  }

  .post:nth-child(3n) {
    margin-right: 0;
  }
}

.post-media, .post-media * {
  max-width: 100%;
}

.post-caption {
  visibility: hidden;
  display: none;
}

.current-carousel-caption {
  /* border: 1px solid gold; */
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
}

.carousel-builder-form {
  border: 1px solid var(--color-blue);
  display: flex;
}

.carousel-builder-form input {
  padding: 0.5rem 0 0.5rem 3rem;
  flex-grow: 2;
  font-family: "Poppins", sans-serif;
  font-weight: var(--weight-normal);
  font-size: 90%;
}

.carousel-builder-form button {
  align-self: stretch;
  transition: letter-spacing 0.2s;
  cursor: pointer;
}

.carousel-builder-form button:hover,
.carousel-builder-form button:focus {
  letter-spacing: 1px;
}

/* BUTTONS */
.btn-container.carousel-btn-container > * {
  background: var(--color-md-gray);
  width: 100%;
}

@media (min-width: 46.4rem) {
  .btn-container.carousel-btn-container > * {
    width: 50%;
  }
}

.carousel-btn-container > .btn-active {
  background: var(--color-blue);
  color: var(--color-white);
}

.btn.post-btn {
  /* margin-bottom: 1.6rem; */
  background: var(--color-blue);
  color: var(--color-white);
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
}

.btn.post-btn.post-add::before {
  content: "+ ";
}

.btn.post-btn.post-added {
  background: var(--color-green);
}

.btn.post-btn.post-added::before {
  content: "✓ ";
}

.btn.post-btn.post-remove {
  background: var(--color-red);
}

.btn.post-btn.post-remove::before {
  content: "× ";
}

.post-load-container {
  flex-grow: 2;
  width: 100%;
}

.post-load-container .btn {
  transform: scale(1.2);
}