footer {
  margin: var(--pad-l) auto;
  padding-bottom: var(--pad-s);
  width: 98%;
  text-align: center;
  font-size: var(--body-size-s);
  flex-shrink: 0; /* sticky footer */
}

footer a:any-link {
  border: 0;
  text-decoration: none;
}

footer a:hover, footer a:focus {
  border-bottom: 1px solid currentColor;
}
